div {
    margin: 20px;
    padding: 20px;
    border: 10px solid red;
}

.div-1 {
    width: 500px;
}
.div-2 {
    height: 500px;
}
.div-3 {
    width: 400px;
    /* margin-left: auto;
    margin-right: auto; */
    margin: 0 auto;
}