/* Les selecteurs de type */
p {
    border: 1px solid red;
    margin: 0;
}
blockquote {
    color: green;
}


/* Les selecteurs de classe */
.pomme {
    color: red;
}
.poire {
    color: green;
}
.banane {
    color: yellow;
}


/* Les selecteurs d'ID */
#monPremierID {
    text-decoration: underline;
}
#monSecondID {
    font-size: 32px;
}
#leParagraphe {
    text-decoration: underline;
}


/* Sélecteur d'attributs */

[type=text] {
    border: 3px dotted blue;
}
[type=email] {
    border: 5px dashed cyan;
}
input {
    background-color: greenyellow;
}